{% extends '_layouts' %}
{% import '_macros' as m %}

{% block content %}
  {% set posts = craft.entries.section('posts') %}

  <div class="container py-8">
    {{ m.breadcrumbs([
      {
        title: 'Blog',
        url: url('blog'),
      },
      {
        title: 'Everything'
      }
    ], 'mb-4') }}
    <h1 class="text-xl leading-tight">Blog</h1>

    {% include 'blog/_listing' with { posts: posts } only %}
  </div>
{% endblock %}
