<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ siteName }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <style>
      body {
        padding: 2em;
        font-family: Arial, sans-serif;
        text-align: center;
        color: #444;
      }
      .message {
        max-width: 32em;
        margin: 10% auto 0;
      }
      img {
        max-width: 100%;
        height: auto;
      }
      h2 {
        margin: 1.5em 0 0.75em;
        font-size: 32px;
        color: #6e5c33;
      }
      a {
        color: #6e5c33;
      }
    </style>
  </head>

  <body>

    <div class="message">
      <h1><img src="/assets/images/logo.svg" alt="{{ siteName }}" width="250"></h1>
      <p>Our website is currently offline for maintenance.<br>
        We will be back soon!</p>
    </div>

  </body>
</html>
