.transition {
  transition-duration: 0.33s;
  transition-timing-function: ease;
}

.transition-slow {
  transition-duration: 0.6s;
  transition-timing-function: ease;
}

.transition-all {
  transition-property: all;
}

.transition-color {
  transition-property: color;
}

.transition-bg {
  transition-property: background;
}

.transition-opacity {
  transition-property: opacity;
}

.transition-transform {
  transition-property: transform;
  will-change: transform;
}

.transition-filter {
  transition-property: filter;
}
