* {
  box-sizing: border-box;
}

html {
  @apply text-base leading-normal font-serif font-normal bg-white text-black antialiased;
  overflow-x: hidden;
  hanging-punctuation: first allow-end last;
  font-feature-settings: 'liga' 1;
}

a {
  @apply no-underline transition transition-all;

  &:hover,
  &:focus {
    @apply underline;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

svg {
  @apply fill-current align-middle;
}

figure {
  margin: 0;
}

img {
  display: block;
  border: 0;
}

picture > img {
  width: 100%;
}

[hidden],
[v-cloak] {
  display: none !important;
}

/* Fast Tap, enables no-delay taps on supporting browsers */
/* stylelint-disable no-descending-specificity */
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation;
}

/* Hide outline for non-keyboard-inputs elements */
.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
