{% import '_macros' as m %}

{% set images = block.images.limit(2).all() %}

{% if images|length > 0 %}
  <figure class="diptych">
    {% for image in images %}
      <div class="diptych--half">
        <div class="diptych--image">
          {{ m.srcset(image, {
            widths: [1000, 600],
          }) }}
          {% if image.assetCredit %}
            <aside class="diptych--meta">Photo: {{ image.assetCredit }}</aside>
          {% endif %}
        </div>
        <p class="diptych--caption">{{ image.title|typogrify }}</p>
      </div>
    {% endfor %}
  </figure>
{% endif %}
