<blockquote class="quote">
  <div class="quote-text">
    {{ block.text|typogrify }}
  </div>
  {% if block.attribution %}
    <small class="quote--meta">
      &ndash; {{ block.attribution|typogrify }}
    </small>
  {% endif %}
</blockquote>
