{% import '_macros' as m %}

<header id="header" class="page-header">
  <div class="page-header__container">
    {% if craft.app.request.pathInfo == '' %}<h1>{% endif %}
      <a href="{{ siteUrl }}">
        {{ svg('@webroot/assets/images/logo.svg') }}
      </a>
    {% if craft.app.request.pathInfo == '' %}</h1>{% endif %}

    <button class="page-header__toggle" data-toggle="header-nav"></button>
    <nav id="header-nav" class="page-header__nav">
      <ul>
        {% for page in global.headerNav.all() %}
          <li><a class="page-header__link" href="{{ page.url }}">
            {{ page.title }}
          </a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
